* {
  margin: 0;
}

html {
  block-size: 100%;
}

body {
  min-block-size: 100%;
  display: grid;
}

#app {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: aqua;
}

nav {
  background-color: goldenrod;
}

footer {
  background-color: cornflowerblue;
}

main {
  background-color: coral;
}

section {
  background-color: fuchsia;
}

article {
  background-color: turquoise;
}

aside {
  background-color: darkgray;
}

.container {
  display: grid;
  grid-template-columns: 1fr auto;
}

h1 {
  color: red;
}

h2 {
  color: orange;
}

h3 {
  color: yellow;
}

h4 {
  color: green;
}
